<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-globe fa-6x"></i>
    <h1 class="display-3">Check the credential</h1>
  </div>
  <%- include('partials/footer') %>
</div>
