<%- include('partials/header') %>

<div class="mx-auto my-5 pd-5 bg-primary">
  <h1 class="display-3 text-center text-warning">Hello <%= name %></h1>
</div>

<%qu.forEach((quote)=>{%>
<p class="quote_style"><%=quote.q %></p>
<%})%> <%- include('partials/footer') %>
